#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/* #define _BASE 0 */
/* #define _GAM  1 */
/* #define _NUM  2 */
/* #define _SYM  3 */
/* #define _NAV  4 */
/* #define _FUNC 5 */
/* #define _MOU  6 */

&caps_word {
    continue-list = <BACKSPACE DELETE UNDERSCORE MINUS>;
};
&lt {
    flavor = "tap-preferred";
    require-prior-idle-ms = <150>;
    tapping-term-ms = <180>;
    quick-tap-ms = <170>;
};

/ {
    behaviors {
        /omit-if-no-ref/ bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <MOD_LSFT>;
        };

        /omit-if-no-ref/ hrm: home_row_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <180>;
            quick-tap-ms = <170>;
            bindings = <&kp>, <&kp>;
            // hold-trigger-key-positions = < ... >; // List of keys on the right side of the keyboard
            // hold-trigger-on-release;
        };

        /omit-if-no-ref/ hrl: home_row_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <180>;
            quick-tap-ms = <170>;
            bindings = <&mo>, <&kp>;
            // hold-trigger-key-positions = < ... >; // List of keys on the right side of the keyboard
            // hold-trigger-on-release;
        };
    };

    // conditional_layers {
    //     compatible = "zmk,conditional-layers";
    //     tri_layer {
    //         if-layers = <1 2>;
    //         then-layer = <3>;
    //     };
    // };

    combos {
        compatible = "zmk,combos";
        /* combo_ret { */
        /*     timeout-ms = <50>; */
        /*     require-prior-idle-ms = <100>; */
        /*     key-positions = <31 32>; */
        /*     bindings = <&kp RET>; */
        /* }; */
        combo_cw {
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            key-positions = <32 33>;
            bindings = <&caps_word>;
        };
        combo_caps {
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            key-positions = <33 34>;
            bindings = <&kp CAPS>;
        };
        combo_toggle_game {
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            key-positions = <0 5 29>;
            bindings = <&tog 1>;
        };
        combo_toggle_colemak {
            timeout-ms = <50>;
            require-prior-idle-ms = <100>;
            key-positions = <0 5 27>;
            bindings = <&tog 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
//    ┌─────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────┐   ┌────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────┐
//    │ esc │      Q      │      W      │      E      │      R      │     T      │   │     Y      │      U      │      I      │      O      │      P      │ del │
//    ├─────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤   ├────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────┤
//    │  -  │ &hrm lgui A │ &hrm lalt S │ &hrm lsft D │ &hrm lctl F │     G      │   │     H      │ &hrm rctl J │ &hrm rsft K │ &hrm lalt L │ &hrm rgui ; │  '  │
//    ├─────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤   ├────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────┤
//    │  [  │      Z      │      X      │      C      │      V      │     B      │   │     N      │      M      │      ,      │      .      │      /      │  ]  │
//    └─────┴─────────────┴─────────────┼─────────────┼─────────────┼────────────┤   ├────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────┘
//                                      │      (      │ &hrl 3 spc  │ &hrl 5 tab │   │ &hrl 6 ent │ &hrl 4 bspc │      )      │
//                                      └─────────────┴─────────────┴────────────┘   └────────────┴─────────────┴─────────────┘
  &kp ESC     &kp Q          &kp W         &kp E          &kp R          &kp T      &kp Y   &kp U          &kp I          &kp O         &kp P            &kp DEL
  &kp MINUS   &hrm LGUI A    &hrm LALT S   &hrm LSHFT D   &hrm LCTRL F   &kp G      &kp H   &hrm RCTRL J   &hrm RSHFT K   &hrm LALT L   &hrm RGUI SEMI   &kp SQT
  &kp LBKT    &kp Z          &kp X         &kp C          &kp V          &kp B      &kp N   &kp M          &kp COMMA      &kp DOT       &kp FSLH         &kp RBKT
  &kp LPAR    &hrl 3 SPACE   &hrl 5 TAB    &hrl 6 RET     &hrl 4 BSPC    &kp RPAR
            >;
        };

/* #define _BASE 0 */
/* #define _GAM  1 */
/* #define _COLE 2 */
/* #define _NUM  3 */
/* #define _SYM  4 */
/* #define _NAV  5 */
/* #define _FUNC 6 */
/* #define _MOU  7 */

        game {
            display-name = "GAME";
            bindings = <
//    ┌──────┬───┬───┬──────┬─────┬─────┐   ┌────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────┐
//    │ esc  │ Q │ W │  E   │  R  │  T  │   │     Y      │      U      │      I      │      O      │      P      │ del │
//    ├──────┼───┼───┼──────┼─────┼─────┤   ├────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────┤
//    │ lctl │ A │ S │  D   │  F  │  G  │   │     H      │ &hrm rctl J │ &hrm rsft K │ &hrm lalt L │ &hrm rgui ; │  '  │
//    ├──────┼───┼───┼──────┼─────┼─────┤   ├────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────┤
//    │ lsft │ Z │ X │  C   │  V  │  B  │   │     N      │      M      │      ,      │      .      │      /      │  ]  │
//    └──────┴───┴───┼──────┼─────┼─────┤   ├────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────┘
//                   │ lalt │ spc │ tab │   │ &hrl 4 ent │ &hrl 6 bspc │      )      │
//                   └──────┴─────┴─────┘   └────────────┴─────────────┴─────────────┘
  &kp ESC     &kp Q       &kp W     &kp E        &kp R         &kp T      &kp Y   &kp U          &kp I          &kp O         &kp P            &kp DEL
  &kp LCTRL   &kp A       &kp S     &kp D        &kp F         &kp G      &kp H   &hrm RCTRL J   &hrm RSHFT K   &hrm LALT L   &hrm RGUI SEMI   &kp SQT
  &kp LSHFT   &kp Z       &kp X     &kp C        &kp V         &kp B      &kp N   &kp M          &kp COMMA      &kp DOT       &kp FSLH         &kp RBKT
  &kp LALT    &kp SPACE   &kp TAB   &hrl 4 RET   &hrl 6 BSPC   &kp RPAR
            >;
        };

        colemake {
            display-name = "COLE";
            bindings = <
//    ┌─────┬─────────────┬─────────────┬─────────────┬─────────────┬────────────┐   ┌────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────┐
//    │ esc │      Q      │      W      │      F      │      B      │     P      │   │     J      │      L      │      U      │      Y      │      ;      │ del │
//    ├─────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤   ├────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────┤
//    │  -  │ &hrm lgui A │ &hrm lalt R │ &hrm lsft S │ &hrm lctl T │     G      │   │     M      │ &hrm rctl N │ &hrm rsft E │ &hrm lalt I │ &hrm rgui O │  '  │
//    ├─────┼─────────────┼─────────────┼─────────────┼─────────────┼────────────┤   ├────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────┤
//    │  [  │      Z      │      X      │      C      │      D      │     V      │   │     K      │      H      │      ,      │      .      │      /      │  ]  │
//    └─────┴─────────────┴─────────────┼─────────────┼─────────────┼────────────┤   ├────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────┘
//                                      │      (      │ &hrl 3 spc  │ &hrl 5 tab │   │ &hrl 6 ent │ &hrl 4 bspc │      )      │
//                                      └─────────────┴─────────────┴────────────┘   └────────────┴─────────────┴─────────────┘
  &kp ESC     &kp Q          &kp W         &kp F          &kp B          &kp P      &kp J   &kp L          &kp U          &kp Y         &kp SEMI      &kp DEL
  &kp MINUS   &hrm LGUI A    &hrm LALT R   &hrm LSHFT S   &hrm LCTRL T   &kp G      &kp M   &hrm RCTRL N   &hrm RSHFT E   &hrm LALT I   &hrm RGUI O   &kp SQT
  &kp LBKT    &kp Z          &kp X         &kp C          &kp D          &kp V      &kp K   &kp H          &kp COMMA      &kp DOT       &kp FSLH      &kp RBKT
  &kp LPAR    &hrl 3 SPACE   &hrl 5 TAB    &hrl 6 RET     &hrl 4 BSPC    &kp RPAR
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
//    ┌─────┬──────┬──────┬──────┬──────┬─────┐   ┌─────┬───┬─────┬───┬───┬─────┐
//    │     │      │      │      │      │     │   │  *  │ 7 │  8  │ 9 │ % │     │
//    ├─────┼──────┼──────┼──────┼──────┼─────┤   ├─────┼───┼─────┼───┼───┼─────┤
//    │     │ lgui │ lalt │ lsft │ lctl │     │   │  +  │ 4 │  5  │ 6 │ : │     │
//    ├─────┼──────┼──────┼──────┼──────┼─────┤   ├─────┼───┼─────┼───┼───┼─────┤
//    │     │      │  _   │  ,   │  .   │     │   │  -  │ 1 │  2  │ 3 │ / │  =  │
//    └─────┴──────┴──────┼──────┼──────┼─────┤   ├─────┼───┼─────┼───┴───┴─────┘
//                        │      │      │     │   │     │ 0 │     │
//                        └──────┴──────┴─────┘   └─────┴───┴─────┘
  &none    &none      &none       &none       &none       &none    &kp STAR    &kp N7   &kp N8   &kp N9   &kp PRCNT   &trans
  &none    &kp LGUI   &kp LALT    &kp LSHFT   &kp LCTRL   &none    &kp PLUS    &kp N4   &kp N5   &kp N6   &kp COLON   &trans
  &none    &none      &kp UNDER   &kp COMMA   &kp DOT     &none    &kp MINUS   &kp N1   &kp N2   &kp N3   &kp FSLH    &kp EQUAL
  &trans   &trans     &trans      &trans      &kp N0      &trans
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
//    ┌─────┬─────┬───┬───┬─────┬───┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │ # │ ! │  `  │ | │   │     │     │     │     │     │     │
//    ├─────┼─────┼───┼───┼─────┼───┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │  @  │ - │ + │  =  │ & │   │     │     │     │     │     │     │
//    ├─────┼─────┼───┼───┼─────┼───┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │  ^  │ * │ % │  $  │ \ │   │     │     │  <  │  >  │     │     │
//    └─────┴─────┴───┼───┼─────┼───┤   ├─────┼─────┼─────┼─────┴─────┴─────┘
//                    │ ~ │     │ : │   │     │     │     │
//                    └───┴─────┴───┘   └─────┴─────┴─────┘
  &trans      &trans      &kp HASH    &kp EXCL    &kp GRAVE   &kp PIPE   &none   &none   &none    &none    &none   &trans
  &trans      &kp AT      &kp MINUS   &kp PLUS    &kp EQUAL   &kp AMPS   &none   &none   &none    &none    &none   &trans
  &trans      &kp CARET   &kp STAR    &kp PRCNT   &kp DLLR    &kp BSLH   &none   &none   &kp LT   &kp GT   &none   &trans
  &kp TILDE   &trans      &kp COLON   &trans      &trans      &trans
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
//    ┌─────┬──────┬──────┬──────┬──────┬─────┐   ┌──────┬──────┬──────┬──────┬─────┬─────┐
//    │     │      │      │      │      │     │   │ home │ pgdn │ pgup │ end  │     │     │
//    ├─────┼──────┼──────┼──────┼──────┼─────┤   ├──────┼──────┼──────┼──────┼─────┼─────┤
//    │     │ lgui │ lalt │ lsft │ lctl │     │   │ left │ down │  up  │ rght │     │     │
//    ├─────┼──────┼──────┼──────┼──────┼─────┤   ├──────┼──────┼──────┼──────┼─────┼─────┤
//    │     │      │      │      │      │     │   │      │      │      │      │     │     │
//    └─────┴──────┴──────┼──────┼──────┼─────┤   ├──────┼──────┼──────┼──────┴─────┴─────┘
//                        │      │      │     │   │      │      │      │
//                        └──────┴──────┴─────┘   └──────┴──────┴──────┘
  &none    &none      &none      &none       &none       &none    &kp HOME   &kp PG_DN   &kp PG_UP   &kp END     &none   &none
  &none    &kp LGUI   &kp LALT   &kp LSHFT   &kp LCTRL   &none    &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT   &none   &none
  &none    &none      &none      &none       &none       &none    &none      &none       &none       &none       &none   &none
  &trans   &trans     &trans     &trans      &trans      &trans
            >;
        };

        func {
            display-name = "FUNC";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬──────┬──────┬──────┬──────┬─────┐
//    │ f1  │ f2  │ f3  │ f4  │ f5  │ f6  │   │     │ prev │ play │ next │ pscr │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼──────┼──────┼──────┼──────┼─────┤
//    │ f7  │ f8  │ f9  │ f10 │ f11 │ f12 │   │     │ rctl │ lalt │ rgui │ bri+ │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼──────┼──────┼──────┼──────┼─────┤
//    │ f13 │ f14 │ f15 │ f16 │ f17 │ f18 │   │     │ vold │ mute │ volu │ bri- │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼──────┼──────┼──────┴──────┴─────┘
//                      │     │     │     │   │     │      │      │
//                      └─────┴─────┴─────┘   └─────┴──────┴──────┘
  &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &none   &kp C_PREV     &kp C_PP     &kp C_NEXT     &kp PRINTSCREEN   &trans
  &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12   &none   &kp RCTRL      &kp LALT     &kp RGUI       &kp C_BRI_UP      &trans
  &kp F13   &kp F14   &kp F15   &kp F16   &kp F17   &kp F18   &none   &kp C_VOL_DN   &kp C_MUTE   &kp C_VOL_UP   &kp C_BRI_DN      &trans
  &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        mouse {
            display-name = "MOU";
            bindings = <
//    ┌─────┬─────┬─────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬─────┬─────┬─────┐
//    │     │     │     │      │      │      │   │      │      │      │     │     │     │
//    ├─────┼─────┼─────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼─────┼─────┼─────┤
//    │     │     │     │      │      │      │   │      │      │      │     │     │     │
//    ├─────┼─────┼─────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼─────┼─────┼─────┤
//    │     │     │     │      │      │      │   │      │      │      │     │     │     │
//    └─────┴─────┴─────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼─────┴─────┴─────┘
//                      │ mclk │ lclk │ rclk │   │ lclk │ rclk │ mclk │
//                      └──────┴──────┴──────┘   └──────┴──────┴──────┘
  &trans      &trans      &trans      &trans      &trans      &trans      &trans   &trans   &trans   &trans   &trans   &trans
  &trans      &trans      &trans      &trans      &trans      &trans      &trans   &trans   &trans   &trans   &trans   &trans
  &trans      &trans      &trans      &trans      &trans      &trans      &trans   &trans   &trans   &trans   &trans   &trans
  &mkp MCLK   &mkp LCLK   &mkp RCLK   &mkp LCLK   &mkp RCLK   &mkp MCLK
            >;
        };

    };
};
